$c_white_700: #fefefe;
$c_white_400: #fafafa;
$c_white_300: #f8f8f8;

$c_black_700: #121212;
$c_black_400: #434343;

$c_gray_700: #9f9f9f;
$c_gray_400: #aeaeae;
$c_gray_300: #dadada;


$padding: 24px;
$border-radius: 12px;

$input-padding: 12px;
