$icon-size: 24px;

.coin {
	&-list {
		flex: 1; overflow: auto;
		@include box;
	}
	&-status {
		padding-top: $padding;
		color: $c_gray_400;
	}
	&-item {
		position: relative; display: flex; align-items: center;
		width: 100%; padding: calc($padding / 2) $padding; box-sizing: border-box;
		margin: 10px 0;
		cursor: pointer;

		&::before {
			content: '';
			position: absolute; right: 0; top: 0;
			width: 6px; height: 100%; transform: translateX(10px);
			background-color: $c_black_700;
			transition: transform 0.3s ease-out;
		}

		.icon {
			width: $icon-size; height: $icon-size;
			margin-right: $padding;
		}
		.name {
			flex: 1; text-align: left;
			font-size: 14px; color: $c_black_700;
		}
		.symbol {
			font-size: 14px; color: $c_gray_400;
			transition: transform 0.3s ease-out;
		}

		&:hover, &:focus {
			background-color: $c_white_300;
		}

		&.selected {
			&::before { transform: translateX(0); }
			.name { font-weight: 700; }
			.symbol { transform: translateX(-6px); }
		}
	}

	&-detail {
		flex: 1;
		@include box;

		.info {
			padding: calc($padding * 2); text-align: center;

			.icon {
				width: $icon-size * 1.5; height: $icon-size * 1.5;
				margin-bottom: $padding;
			}
			.name {
				font-size: 26px;
			}
			.symbol {
				margin-top: calc($padding / 2);
				font-size: 16px;
			}
		}
		.body {
			padding: $padding;

			input[type='textbox'] {
				display: block;
				font-size: 18px;
				width: 100%; padding: $input-padding;
				border: 1px solid $c_gray_300; border-radius: $border-radius;
				transition: border-color 0.3s ease-out;

				&:hover, &:focus {
					border-color: $c_gray_700;
				}
			}
		}
	}

}
